html{
    position: relative;
    min-height: 100%;
}

body{
    background-color: #D4D4D4;
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    background-color: #464646;
    padding: 10px;
}

.item{
    width: 100px;
    height: 80px;
    text-align: center;
    
}

.item_center{
    flex-grow: 1;
    text-align: center;
    line-height: 40px;
}

.item_center + .item_center{
    margin-left: 2%;
}

.item_center + .item{
    margin-left: 2%;
}

a:hover{
    background-color: #282828;
}

a{
    text-decoration: none;
}

.nav_text{
    color: white
}

.nav_img{
    height: 50px;
    margin-top: 12%;
}

h1{
    color: #323232;
    text-align: center;
}

.container2{
    display: flex;
}

.item2{
    flex-grow: 1;
    height: 100px;
    background-color:;
    text-align: center; 
}

footer{
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
    background-color: #464646;
}

.fotter_text{
    color: white;
    margin-top: 3%;
}

